.heading {
    font-family: Verdana;
    color: rgb(255, 0, 0);
    
}

#form {
background-color: beige;
}

#postarea {
margin: 15px;
}

.postitem {
    border-width: 2px;
    border-style: double;
    border-color: darkblue;
    border-radius: 20px;
    text-align: center;
}

#postheading {
    color: darkmagenta;
    text-decoration: underline;
}